p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #CCCCCC;
}
a:hover{
    text-decoration: none;
}
input{
    outline: none;
}
.header{
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 790px;
    width: 100%;
}
.header-logo{
    width: 100%;
    background-color: #FF4B65;
    padding: 10px;
}
.header-img{
    position: absolute;
    left: 0;
    top: 0;
}
.header-logo-icon{
    width: 110px;
    height: 50px;
}
.header-icon{
    width: 24px;
    height: 24px;
}
.header-btn{
    cursor: pointer;
    position: relative;
}
.header-btn > span{
    display: block;
    width: 24px;
    height: 3px;
    background-color: #fff;
    margin-top: 5px;
}
.header-btn__active > span:nth-child(2){
    display: none;
}
.header-btn__active > span:first-child{
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
}
.header-btn__active > span:last-child{
    transform: rotate(-45deg);
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    top: 50%;
    margin: 0;
}
.header-btn > span:first-child{
    margin: 0;
}
.header-logo__text{
    color: white;
    font-family: 'Tinos', sans-serif;
    font-size: 16px;
    padding-left: 20px;
}
.oneclick{
    color: white;
    font-family: 'Tinos', sans-serif;
    font-size: 18px;
    border-bottom: 1px dashed white;
}
.number{
    padding-left: 20px;
}
.number__text{
    color: white;
    font-family: 'Tinos', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-left: 5px;
}
.navbar-style{
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 20px;
}
.nav-link{
    color: #CCCCCC;
    font-family: 'Tinos' , sans-serif;
    font-size: 24px;
}
.nav-link:hover{
    color: #FF4B65;
}
.nav__link a{
    font-family: 'Tinos', sans-serif;
    color: white;
    font-size: 24px;
    margin-top: 5px;
}
.nav__link a:hover{
    color: black;
}
.header__title{
    font-family: 'Alice' , sans-serif;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    padding-top: 20px;
}
.header__title > span{
    color: #FF4B65;
}
.long-btn{
    border: none;
    font-size: 30px;
    line-height: 120%;
    color: white;
    font-family: 'Tinos';
    text-shadow: 1px 1px 0px #D3001F;
    cursor: pointer;
    padding: 30px 40px;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    box-shadow: 0px 4px 0px #F20F30, 0px 32px 20px -25px rgba(255, 27, 60, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 117px;
    transition: .2s;
}
.long-btn:hover{
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FF98C9 0%, #FF4B8C 100%);
    box-shadow: 0px 4px 0px #FF1268, 0px 32px 20px -25px rgba(255, 27, 60, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 117px;
}
.big_btn{
    font-size: 30px;
    line-height: 120%;
    color: white;
    font-family: 'Tinos';
    text-shadow: 1px 1px 0px #D3001F;
    border: none;
    cursor: pointer;
    padding: 35px 45px;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    box-shadow: 0px 4px 0px #F20F30, 0px 32px 20px -25px rgba(255, 27, 60, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 103px;
    transition: .2s;
}
.big_btn:hover{
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FF98C9 0%, #FF4B8C 100%);
    box-shadow: 0px 4px 0px #FF1268, 0px 35px 35px -25px rgba(255, 27, 60, 0.7), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 103px;
}
.header__inner__img-bg{
    position: absolute;
    left: -410px;
    top: -60px;
}
.header__inner-info{
    padding: 23px 34px 35px 200px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    border: 1px solid #CCCCCC;
}
.header__inner-info-box{
    margin-top: 60px;
    position: relative;
    margin-left: auto;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 5px;
    background: white;
    margin-bottom: 145px;
}
.header__inner-text{
    font-family: 'Tinos';
    color: #333333;
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 21px;
}
.header__inner-delivery{
    margin-top: 24px;
}
.header__inner-delivery-text{
    color: #FF4B65;
    font-size: 28px;
    line-height: 120%;
    font-weight: 700;
    font-family: 'Tinos';
    padding-left: 10px;
}
.order{
    width: 100%;
    background-image: url('../img/order-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 930px;
}
.order__inner{
    background-color: white;
    border-radius: 20px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 2;
}
.order__title{
    padding: 50px 0 26px 0;
    text-align: center;
    font-family: 'Alice';
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.order__slider-main-img{
    padding: 40px 0 10px 0;
}
.order__slider-additional-img > a{
    margin-right: 10px;
}
.order__slider-additional-img > a:last-child{
    margin: 0;
}
.order__slider-title{
    padding-top: 40px;
    font-family: 'Alice';
    font-size: 36px;
    line-height: 120%;
    background-image: linear-gradient(#FD83BD, #FF4B65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.order__slider-text{
    font-family: 'Tinos';
    font-size: 20px;
    line-height: 120%;
    color: #333333;
    margin-bottom: 20px;
}
.order__slider-subtext{
    font-family: 'Tinos';
    font-size: 16px;
    line-height: 120%;
    color: #CCCCCC;
    margin-bottom: 15px;
}
.order__slider__icon-box{
    width: 75%;
    padding-bottom: 20px;
}
.order__slider__icon-text{
    font-family: 'Tinos';
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-top: 7px;
}
.purchase{
    margin: 19px 0 0 20px;
}
.purchase-text{
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #FF4B65;
    margin: 0 6px;
}
.order__slider .owl-dots{
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}
.order__slider .owl-dots .owl-dot{
    background: #E5E5E5;
    width: 15px;
    height: 15px;
    margin-right: 25px;
    border-radius: 50%;
}
.order__slider .owl-dots .owl-dot:last-child{
    margin: 0;
}
.order__slider .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 24px);
    left: -10%;
    width: 120%;
}
.order__slider .owl-nav .owl-prev > span {
    display: none;
}
.order__slider .owl-nav .owl-next > span {
    display: none;
}
.order__slider .owl-nav .owl-prev{
    cursor: url('../img/order-slider-cursor.png'), auto !important;
    width: 48px;
    height: 48px;
    background-image: url('../img/order-slider-next-btn.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
.order__slider .owl-nav .owl-next{
    cursor: url('../img/order-slider-cursor.png'), auto !important;
    width: 48px;
    height: 48px;
    background-image: url('../img/order-slider-next-btn.png') !important;
    background-position: center;
    background-repeat: no-repeat;
}
.order__slider .owl-nav .owl-prev:hover{
    background-image: url('../img/order-slider-prev-btn.png') !important;
    transform: rotate(360deg);
}
.order__slider .owl-nav .owl-next:hover{
    background-image: url('../img/order-slider-prev-btn.png') !important;
    transform: rotate(180deg);
}
.owl-dot.active{
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%) !important;
}
.order-slider-decoration-1{
    position: absolute;
    z-index: 3;
    right: -100px;
    top: -50px;
}
.order-slider-decoration-2{
    position: absolute;
    z-index: 1;
    bottom: -110px;
    left: -140px;
}
.order-slider-decoration-3{
    position: absolute;
    z-index: 3;
    bottom: -80px;
    right: -120px;
}
.order-slider-decoration-4{
    position: absolute;
    z-index: 3;
    display: none;
}
.about{
    background-image: url('../img/about-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}
.about__title{
    font-family: 'Alice';
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #333333;
    padding-top: 30px;
}
.about__title > span{
    color: #FF4B65;
}
.about__inner-item-main{
    position: relative;
}
.about__inner-link-box{
    padding: 5px 5px;
    border-radius: 15px;
    position: relative;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
}
.about__inner-link{
    padding: 20px 30px;
    font-family: 'Tinos';
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}
.about__inner-item{
    display: flex;
    position: absolute;
    max-width: 1110px;
    height: 500px;
    top: 120px;
    left: 0;
}
.about-camera{
    position: absolute;
    bottom: -2%;
    right: -8%;
}
.about-heal{
    position: absolute;
    top: 20px;
    left: -8%;
}
.about-global{
    position: absolute;
    top: 90px;
    right: -8%;
}
.about-like{
    position: absolute;
    top: 30px;
    left: -8%;
}
.mt{
    margin-top: -30px;
}
.mb{
    margin-top: 130px;
}
.m{
    margin-top: 70px;
}
.about-mob{
    display: none;
}
.media{
    width: 100%;
    height: 800px;
    background-image: url('../img/media-bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: relative;
    margin-top: -200px;
    padding-bottom: 250px;
}
.media-decoration{
    position: absolute;
    top: -20px;
    right: 30%;
    z-index: 1;
}
.media__inner{
    padding-top: 250px;
}
.media__title{
    font-size: 64px;
    font-family: 'Alice';
    color: white;
    text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    text-align: right;
}
.media__text{
    font-family: 'Tinos';
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: right;
    text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.8);
}
.media-play{
    position: relative;
    width: 225.05px;
    height: 225.05px;
    cursor: pointer;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
    box-shadow: 0px 0px 50px rgba(255, 88, 121, 0.8);
    border-radius: 50%;
    margin-left: 100px;
}
.media-play-img{
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 54px);
}
.media-play:hover{
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FF98C9 0%, #FF4B8C 100%);
}
.media-line{
    margin: 20px 0 180px 100px;
}
.media-line-mob{
    display: none;
}
.request{
    width: 100%;
    height: 895px;
    position: relative;
    background-image: url('../img/request-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -150px;
}
.request__inner{
    padding-top: 160px;
}
.request-item{
    background-color: white;
    border-radius: 50px;
    margin-top: 39px;
    padding: 40px 40px 59px 40px;
}
.request__title{
    text-align: center;
    font-family: 'Tinos';
    font-size: 28px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 30px;
}
.request__text{
    text-align: center;
    font-size: 18px;
    line-height: 120%;
    color: #CCCCCC;
}
.request__contacts{
    margin: 12px 0 25px 0;
}
.request__contacts-item{
    cursor: pointer;
}
.request__contacts-item > p{
    font-size: 18px;
    font-family: 'Tinos';
    line-height: 120%;
    font-weight: 700;
    color: #333333;
    margin-top: 5px;
}
.request__contacts-item > p:hover{
    color: #D3001F;
}
.request__contacts-item > img{
    display: block;
    margin: 0 auto;
}
.request_inpt{
    font-family: 'Tinos';
    font-size: 22px;
    line-height: 120%;
    color: #CCCCCC;
    display: block;
    border: none;
    margin: 0 auto;
    font-size: 22px;
    line-height: 120%;
    color: #CCCCCC;
    background: #F8F8F8;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    padding: 27px 45px;
    margin-bottom: 30px;
}
.request_btn{
    display: block;
    margin: 0 auto;
}
.request-img{
    position: relative;
}
.request-img > img{
    position: absolute;
    left: -50px;
    right: 0;
}
.requset_subtext{
    font-family: 'Tinos';
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #CCCCCC;
    margin-top: 20px;
    padding: 0 20px;
}
.request-main-mob{
    display: none;
}
.advice__title{
    font-family: 'Alice';
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    margin-top: 50px;
}
.advice__text{
    font-family: 'Tinos';
    font-size: 36px;
    line-height: 41px;
    color: #333333;
    text-align: center;
}
.advice__row-text{
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
}
.red{
    color: #FF4B65;
}
.regular{
    font-weight: 400;
}
.advice__line{
    margin: 30px 0;
    width: 100%;
}
.delivery{
    width: 100%;
    padding-bottom: 100px;
    background-image: url(../img/delivery-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.delivery__title{
    font-family: 'Alice';
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.bold{
    font-weight: 700;
}
.delivery__text{
    display: block;
    width: 80%;
    background-color: white;
    font-family: 'Tinos';
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    color: #FF1268;
    padding: 10px 30px;
    margin: 30px auto;
}
.slider-link{
    background-color: white;
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
    border-radius: 25px;
    padding: 14px 16px 40px 16px;
}
.delivery__slider-title{
    font-family: 'Alice';
    margin-top: 16px;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #FF1268;
}
.delivery_btn{
    display: block;
    padding: 20px 80px;
    font-size: 25px;
    margin: 0 auto;
}
.sostav{
    font-family: 'Tinos';
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #CCCCCC;
}
.sostav_link{
    font-family: 'Tinos';
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    margin: 15px 0;
}
.size{
    font-family: 'Tinos';
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #CCCCCC;
}
.size_link{
    font-family: 'Tinos';
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    margin: 15px 0;
}
.delivery__slider .owl-nav .owl-next > span{
    display: none;
}
.delivery__slider .owl-nav .owl-prev > span{
    display: none;
}
.delivery__slider .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 105%;
    top: calc(50% - 20px);
    left: -2.5%;
}
.delivery__slider .owl-nav .owl-next{
    width: 20px;
    height: 40px;
    background-image: url(../img/delivery-next-btn.png) !important;
}
.delivery__slider .owl-nav .owl-prev{
    width: 20px;
    height: 40px;
    background-image: url(../img/delivery-prev-btn.png) !important;
}
.hash-nav__link{
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    width: 49px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hash-link__active{
    width: 228px;
    border-radius: 50px;
}
.hash-nav__link:last-child{
    margin-right: 0;
}
.hash-nav__text {
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FF1268;
    width: 49px;
    height: 49px;
    opacity: 0;
}
.hash-text__active{
    width: auto;
    height: auto;
    opacity: 1;
}
.slider__item-mob{
    display: none;
}
.emotions{
    width: 100%;
    padding-top: 115px;
    background-image: url(../img/emotions-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.emotions__inner{
    position: relative;
    z-index: 2;
    padding: 30px 40px 160px 40px;
    border-radius: 25px;
    background-image: url('../img/emotions-inner-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.emotions-inner-img{
    position: absolute;
    z-index: 3;
    bottom: -10px;
    right: -30px;
}
.emotions-inner-img-1{
    position: absolute;
    z-index: -1;
    top: -60px;
    left: -90px;
}
.emotions__title{
    font-family: 'Alice';
    font-size: 64px;
    line-height: 120%;
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.emotions__text{
    font-family: 'Tinos';
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.emotions__info{
    width: 100%;
    margin-top: 20px;
    border: none;
    font-family: 'Tinos';
    font-size: 18px;
    line-height: 120%;
    color: #CCCCCC;
    padding: 15px 15px;
    background: #F8F8F8;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.06));
}
.wishes{
    height: 100px;
}
.emotions__btn{
    margin-top: 10px;
    cursor: pointer;
    border: none;
    color: #FF4B65;
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-shadow: 1px 1px 0px #FFFFFF;
    padding: 20px 30px;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FFFFFF 0%, #EEEEEE 100%);
    box-shadow: 0px 4px 0px #C2C2C2, 0px 32px 20px -25px rgba(255, 255, 255, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}
.emotions__btn:hover{
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FFFFFF 0%, #F7F7F7 100%);
    box-shadow: 0px 4px 0px #DEDEDE, 0px 32px 20px -25px rgba(202, 202, 202, 0.5), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
}
.emotions__sub-btn{
    margin-top: 10px;
    font-family: 'Tinos';
    font-size: 12px;
    line-height: 14px;
    color: #FFC2C2;
}
.emotions__number{
    margin-top: 15px;
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}
.emotions__contacts{
    margin-top: 10px;
}
.emotions__contacts > p{
    font-family: 'Tinos';
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
}
.emotions__icon{
    margin-left: 5px;
}
.emotions__subtitle{
    font-family: 'Alice';
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    margin-top: 60px;
}
.emotions__slider-box{
    width: 303px;
    height: 600px;
    background-image: url(../img/emotions-slider-bg.png);
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    margin: 30px auto;
}
.emotions__slider__item{
    margin: 20px auto;
    width: 260.01px;
    height: 562.47px;
}
.emotions__slider .owl-nav{
    position: absolute;
    top: calc(50% - 24px);
    left: -20%;
    display: flex;
    justify-content: space-between;
    width: 140%;
}
.emotions__slider .owl-nav .owl-next{
    width: 48px;
    height: 48px;
    background-image: url(../img/emotions-slider-nav.png) !important;
}
.emotions__slider .owl-nav .owl-prev{
    width: 48px;
    height: 48px;
    background-image: url(../img/emotions-slider-nav.png) !important;
    transform: rotate(180deg);
}
.emotions__slider .owl-nav .owl-prev > span{
    display: none;
}
.emotions__slider .owl-nav .owl-next > span{
    display: none;
}
.emotions__slider .owl-nav .owl-next:hover{
    transform: rotate(180deg);
    background-image: url(../img/emotions-slider-nav-hover.png) !important;
}
.emotions__slider .owl-nav .owl-prev:hover{
    transform: rotate(360deg);
    background-image: url(../img/emotions-slider-nav-hover.png) !important;
}
.emotions__slider .owl-dots{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.emotions__slider .owl-dots .owl-dot{
    width: 10px;
    height: 10px;
    margin-left: 7px;
    background-image: url(../img/emotions-slider-dot.png) !important;
    background-size: cover;
    background-clip: border-box;
    background-position: center;
}
.emotions__slider .owl-dots .owl-dot:first-child{
    margin-left: 0;
}
.emotions__slider .owl-dots .owl-dot.active{
    background-image: url(../img/emotions-slider-dot-active.png) !important;
}
.question{
    width: 100%;
    background-image: url(../img/qustion-bg.png);
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 150px;
}
.question__title{
    font-family: 'Alice';
    font-size: 64px;
    line-height: 120%;
    text-align: center;
}
.question__inner-item{
    transition: 1s;
    cursor: pointer;
    width: 90%;
    margin: 30px auto 0 auto;
    padding: 15px 20px;
    background: #FF4B65;
    border-radius: 15px;
}
.question__inner-item_down > p{
    font-family: 'Tinos';
    font-size: 24px;
    line-height: 28px;
    color: #FFE1E7;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.question__inner-item_down{
    transition: 1s;
    margin: 0 auto;
    width: 90%;
    background: #FF4B65;
    padding: 15px 70px 30px 70px;
    border-radius: 15px;
    display: none;
}
.question__inner-item_down__active{
    border-top-right-radius: 0px;
    transition: 1s;
    border-top-left-radius: 0px;
    display: block;
}
.question__inner-item__active{
    transition: 1s;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.question__text{
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    margin-left: 10px;
}
.inner__item-right{
    transition: .5s;
    width: 16px;
    height: 20px;
    margin-right: 20px;
}
.inner__item-right__active{
    transition: .5s;
    transform: rotate(180deg);
}
.icon_btn{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(135deg);
}
.actions{
    background: #FF4B65;
    background-image: url('../img/actions-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 65px;
}
.actions__inner{
    position: relative;
}
.actions__title{
    font-family: 'Alice';
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.actions__slider_num{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    z-index: 100;
    top: -20px;
    border-radius: 50%;
    left: calc(50% - 20px);
}
body > div.actions > div > div > div > div.owl-stage-outer{
    overflow: inherit;
}
.actions__slider_num > p{
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 18px;
    color: #FF4B65;
}
.actions__slider-img{
    display: block;
    margin: 0 auto;
}
.bold_text{
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin-top: 20px;
}
.actions__text{
    font-family: 'Tinos';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.card{
    position: relative;
    background: #FFFFFF;
    padding: 40px 12px 20px 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-left: 13px;
}
.actions__decoration-1{
    position: absolute;
    right: -180px;
    top: -160px;
    z-index: 1000;
}
.actions__decoration-2{
    position: absolute;
    left: -70px;
    bottom: -110px;
    z-index: 1000;
}
.end{
    padding-top: 100px;
}
.end__title{
    font-family: 'Alice';
    font-size: 64px;
    line-height: 100%;
    color: #333333;
    margin-bottom: 20px;
}
.end__text{
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 41px;
}
.end__img-box{
    position: relative;
}
.end__img{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}
.end_btn{
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
}
.end__img-box-mob{
    display: none;
}
footer{
    margin-top: 180px;
    padding: 50px 0;
    width: 100%;
    background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FD83BD 0%, #FF4B65 100%);
}
.footer_number{
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 5px;
}
.footerclick{
    display: block;
    width: 46%;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: auto;
}
.my_market{
    font-family: 'Tinos';
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: right;
    margin-top: 10px;
}
.adress{
    font-family: 'Tinos';
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: right;
}
.flowers{
    font-family: 'Tinos';
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}
.conf{
    margin-top: 30px;
    font-family: 'Tinos';
    font-size: 18px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.old{
    font-family: 'Tinos';
    font-size: 18px;
    line-height: 120%;
    margin-top: 30px;
    color: #FFFFFF;
}
.box-footer{
    justify-content: end;
}
@media (min-width: 1200px) {
    .header-btn{
        display: none;
    }
    #nav-mob{
        display: none;
    }
}
@media (max-width: 1475px){
    .header-img{
        display: none;
    }
}
@media (max-width: 1200px) {
    .oneclick{
        display: none;
    }
    .number__text{
        display: none;
    }
    .header-logo__text{
        font-size: 12px;
        padding-left: 10px;
    }
    .header-logo-icon{
        width: 67px;
        height: 30px;
    }
    .navbar-style{
        display: none;
    }
    .header-icon{
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
    .number{
        padding: 0;
    }
}
@media (max-width: 996px) {
    .header__title{
        font-size: 24px;
    }
    .header__inner-text{
        font-size: 18px;
    }
    .header__inner-info > button{
        padding: 20px 30px;
        font-size: 21px;
    }
    .header__inner-delivery > img {
        width: 18px;
        height: 13px;
    }
    .header__inner-delivery-text{
        font-size: 14px;
    }
    .header__inner__img-bg{
        width: 436px;
        height: 436px;
        left: -250px;
        top: -60px;
    }
}
@media (max-width: 750px) {
    .header__inner__img-bg{
        width: 336px;
        height: 336px;
        top: -100px;
        left: -36px;
    }
    .header__inner-info-box{
        margin: 100px auto 0 auto;
    }
    .header__inner-info{
        padding: 235px 15px 29px 15px;
    }
}
@media (max-width: 567px) {
    .order__title{
        font-size: 24px;
    }
    .order__inner_item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order__slider-main-img{
        width: 231px;
        height: 203px;
        padding: 0;
        margin-bottom: 7px;
    }
    .order__slider-additional-img > img{
        width: 41px;
        height: 35px;
    }
    .order__slider-title{
        display: inline-block;
        width: 73%;
        font-size: 24px;
    }
    .order__slider-text{
        font-size: 14px;
        display: inline-block;
        width: 73%;
    }
    .order__slider-subtext{
        display: inline-block;
        width: 70%;
        font-size: 12px;
    }
    .order__slider__icon-text{
        font-size: 12px;
    }
    .order__slider__icon{
        width: 29px;
        height: 29px;
    }
    .long-btn{
        padding: 20px 30px;
        font-size: 18px;
        border-radius: 15px;
        width: 70%;
    }
    .long-btn:hover{
        border-radius: 15px;
    }
    .purchase{
        margin: 20px 0 0 0;
    }
    .purchase-text{
        font-size: 12px;
    }
    .purchase-img{
        width: 16px;
        height: 16px;
    }
    .order__slider .owl-dots{
        position: absolute;
        bottom: -60px;
        left: 25%;
        width: 50%;
        padding: 5px 10px;
        background-color: white;
        border-radius: 20px;
    }
    .order__slider .owl-dots .owl-dot{
        width: 10px;
        height: 10px;
    }
    .order__slider .owl-nav{
        position: absolute;
        top: 634px;
        left: 0;
        width: 100%;
    }
    .order__slider .owl-nav .owl-prev{
        width: 10px;
        height: 21px;
        background-image: url('../img/order-slider-prev-mob-btn.png') !important;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(360deg);
    }
    .order__slider .owl-nav .owl-next{
        width: 10px;
        height: 21px;
        background-image: url('../img/order-slider-next-mob-btn.png') !important;
        background-position: center;
        background-repeat: no-repeat;
    }
    .order__slider .owl-nav .owl-prev:hover{
        background-image: url('../img/order-slider-prev-mob-btn.png') !important;
        transform: none;
    }
    .order__slider .owl-nav .owl-next:hover{
        background-image: url('../img/order-slider-next-mob-btn.png') !important;
        transform: none;
    }
    .order-slider-decoration-1{
        display: none;
    }
    .order-slider-decoration-2{
        display: none;
    }
    .order-slider-decoration-3{
        display: none;
    }
    .order-slider-decoration-4{
        display: block;
        left: -15px;
        bottom: -180px;
    }
    .about__inner-item-main{
        display: flex;
        flex-direction: column;
    }
    .about__inner-item{
        position: relative;
        top: 20px;
    }
    .about__title{
        margin-top: 30px;
        font-size: 24px;
    }
    .about-flower-img{
        width: 320px;
        height: 320px;
    }
    .about__inner-link-box{
        margin: 0 0 15px 0;
    }
    .about__inner-link{
        font-size: 18px;
        padding: 10px 10px;
    }
    .about-mob{
        position: absolute;
        display: block;
        left: -15px;
        top: -15px;
    }
    .about-pc{
        display: none;
    }
    .media__title{
        font-size: 24px;
        text-align: start;
        margin-bottom: 20px;
    }
    .media__text{
        font-size: 18px;
        text-align: start;
        line-height: 21px;
    }
    .media-line{
        display: none;
    }
    .media-play{
        width: 115px;
        height: 115px;
        margin: 0 0 50px 0;
    }
    .media-line-mob{
        display: block;
    }
    .media-decoration{
        display: none;
    }
    .media-play-img{
        width: 50px;
        height: 50px;
        top: calc(50% - 23px);
        left: calc(50% - 22px);
    }
    .media-play-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .media{
        background-image: url('../img/media-bg-mob.png');
    }
    .request{
        margin-top: -88px;
        height: 653px;
        background-size: auto;
        background-image: url('../img/request-bg-mob.png');
    }
    .request__inner{
        width: 89%;
        margin: 0 auto;
        padding-top: 80px;
    }
    .request-item{
        margin-top: 0;
        padding: 20px 20px 30px 20px;
        border-radius: 30px;
    }
    .request__title{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .request__text{
        font-size: 14px;
    }
    .request__contacts{
        margin: 10px 0 10px 0;
    }
    .request__contacts-item > img{
        width: 30px;
        height: 30px;
    }
    .request__contacts-item > p {
        font-size: 10px;
    }
    .requset_subtext{
        font-size: 9px;
    }
    .request_inpt{
        font-size: 14px;
        padding: 25px 40px;
        margin-bottom: 10px;
    }
    .request_btn{
        font-size: 18px;
        padding: 25px 60px;
    }
    .request-img > img {
        position: static;
        margin: 0 auto;
    }
    .request-main-mob{
        display: block;
    }
    .request-main-img{
        display: none;
    }
    .advice__title{
        font-size: 24px;
        margin-top: 220px;
    }
    .advice__text{
        font-size: 18px;
    }
    .advice__line{
        height: 11px;
    }
    .advice-img{
        display: block;
        margin: 0 auto;
        width: 280px;
        height: 214px;
    }
    .advice__row-text{
        font-size: 24px;
        line-height: 28px;
        margin-top: 20px;
    }
    .delivery__slider-item{
        display: none;
    }
    .slider__item-mob{
        display: block;
    }
    .delivery__title{
        font-size: 24px;
    }
    .delivery__text{
        line-height: 14px;
        width: 90%;
        font-size: 12px;
    }
    .delivery_btn{
        font-size: 19.7917px;
    }
    .hash-nav__link{
        width: 45%;
        padding: 30px 30px;
        border-radius: 200px;
        margin-right: 0;
        margin-bottom: 10px;
        filter: drop-shadow(0px 2px 0px #DCDCDC);
    }
    .hash-nav__text{
        width: 100%;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 14px;
    }
    .hash-link__active{
        filter: drop-shadow(0px 2px 0px #FD005B);
        background: radial-gradient(57.74% 90.4% at 50% -24.24%, #FF98C9 0%, #FF4B8C 100%);
    }
    .hash-text__active{
        color: white;
        width: auto;
    }
    .hash-nav__item{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .hash-nav__link{
        padding: 0;
    }
    .ml{
        margin-left: 5px;
    }
    .emotions__inner{
        background-image: url(../img/emotions-inner-bg-mob.png);
    }
    .emotions-inner-img{
        width: 280px;
        height: 148px;
        bottom: -100px;
        right: 0px;
    }
    .emotions-inner-img-1{
        display: none;
    }
    .emotions__title{
        font-size: 24px
    }
    .emotions__text{
        font-size: 18px;
    }
    .emotions__info{
        font-size: 18px;
    }
    .emotions__btn{
        padding: 20px 0;
        width: 100%;
        font-size: 20px;
    }
    .emotions__number{
        font-size: 24px;
        text-align: center;
    }
    .emotions__contacts{
        justify-content: center;
    }
    .emotions__sub-btn{
        font-size: 9px;
        line-height: 10px;
        text-align: center;
    }
    .emotions__subtitle{
        margin-top: 100px;
        font-size: 24px;
    }
    .question{
        padding-top: 30;
    }
    .question__title{
        font-size: 24px;
    }
    .question__text{
        font-size: 14px;
        line-height: 16px;
    }
    .question__inner-item{
        padding: 20px 20px;
        width: 100%;
    }
    .question__inner-item_down{
        width: 100%;
    }
    .question__inner-item_down > p{
        font-size: 14px;
        line-height: 16px;
    }
    .inner__item-right{
        margin: 0;
    }
    .actions__decoration-1{
        display: none;
    }
    .actions__decoration-2{
        display: none;
    }
    .actions__title{
        font-size: 24px;
    }
    .card{
        margin: 0 auto;
        width: 70%;
    }
    .actions__slider .owl-dots{
        padding: 5px 10px;
        width: 35%;
        background-color: white;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        border-radius: 100px;
    }
    .actions__slider .owl-dots .owl-dot{
        width: 9px;
        height: 9px;
        background: #E5E5E5;
        border-radius: 50%;
        margin-left: 10px;
    }
    .actions__slider .owl-dots .owl-dot:first-child{
        margin: 0;
    }
    .actions{
        padding-bottom: 10px;
    }
    .end{
        padding-top: 40px;
    }
    .end__title{
        font-size: 24px;
    }
    .end__text{
        font-size: 18px;
        line-height: 21px;
    }
    .end_btn{
        display: block;
        font-size: 24px;
        padding: 30px 0;
        width: 100%;
        margin: 0 auto;
    }
    .end__img-box{
        display: none;
    }
    .end__img-box-mob{
        display: block;
        position: relative;
    }
    .end__img-mob{
        position: absolute;
        width: 320px;
        left: -15px;
        top: 0;
        z-index: -1;
    }
    footer{
        margin-top: 320px;
    }
    .footerclick{
        display: none;
    }
    .old{
        text-align: center;
        margin-top: 5px;
    }
    .conf{
        text-align: center;
    }
    .flowers{
        display: none;
    }
    .adress{
        text-align: center;
    }
    .my_market{
        text-align: center;
    }
    .box-footer{
        justify-content: center;
        margin-top: 20px;
    }
}
@media (max-width: 430px){
    .request__inner{
        width: 100%;
        margin: 0;
    }
    
}
@media (max-width: 320px){
    .request-img > img{
        position: absolute;
        left: 0;
        top: 0;
        width: 320px;
    }
}

